# See readline(3readline) and `info rluserman' for more information.

$include /etc/inputrc

set colored-completion-prefix
set colored-stats
set bell-style none
#set match-hidden-files off
set blink-matching-paren on
#set horizontal-scroll-mode on
#set show-all-if-ambiguous on
